---
---

@import "{{ site.theme }}";
#project_title > a {
    text-decoration: none;
    color: white;
}
#project_title > a:hover {
    color: white;
}
#project_title {
    display: inline;
}
div#nav li > a {
    color: white;
}
div#nav li > a:hover {
    color: black;
}
#projects-container > div.row {
    box-shadow: 2px 2px 5px;
}
footer a {
    text-decoration: none;
}
footer a:hover {
    color: white;
}